# Repository files
.git
.gitignore
.idea
.travis.yml
.build
.env
media/
README.md
LICENSE

# Static files (will be collected inside container)
static/

# Compiled files
**/*.pyc
**/__pycache__

# Migrations
# Ignore generated migrations
**/migrations/*.py
# But keep migrations folders with their __init__.py files
!**/migrations/__init__.py

# Virtualenv
env/
