# Repository files
.git
.gitignore
.idea
.travis.yml
./media/
README.md
LICENSE

# Databases
**/*.sqlite
**/*.sqlite3

# Static files (will be collected inside container)
./static/

# Compiled files
**/*.pyc

# Migrations
# Ignore generated migrations
**/migrations/*.py
# But keep migrations folders with their __init__.py files
!**/migrations/__init__.py
