# virtualenvs
env/
venv/
virtualenv/

# build
*.pyc
__pycache__/

# Logs
*.log

# IDEA
.idea
.vscode

# databases
*.db
*.sqlite3
*.rdb

# private
.env

# media and collected static files
media/
static/

# Supervisor
supervisord.pid
