# virtualenvs
env/
venv/
virtualenv/

# build
*.pyc
__pycache__/

# IDEA
.idea
.vscode

# databases
*.db
*.sqlite3

# private
.env

# media and collected static files
oser_backend/media/
oser_backend/static/
