# Core packages
django==2.2
djangorestframework==3.8

# Admin enhancements
django-admin-sortable2  # Sorting items in the admin panel
django-countries
django-guardian  # Permissions

# Email via SendGrid
django-sendgrid-v5
django-filter
django-rest-auth

# Telegram messages via python-telegram-bot
tornado==6.1 
python-telegram-bot==12.2.0

# Storage of files in AWS S3
django-storages
boto3

# PostgreSQL integration
dj-database-url
psycopg2==2.8.6

# Django REST Framework extensions
coreapi-cli  # Required for automatic API docs
django-cors-headers  # CORS (security headers sent by browsers)
django-filter  # Filtering helpers for API endpoints
django-rest-auth  # Password reset views
dry_rest_permissions

# Markdown rendering
django-markdownx
pymdown-extensions
Pillow

# Testing
factory-boy

# Miscellanneous
python-dotenv==0.11

# Deployment
django-heroku  # Heroku integration
whitenoise  # Static files serving
gunicorn  # Web server
